$accent: rgb(0, 128, 128);
$oAccent: rgba(0, 128, 128, 0.5);
$main: var(--main_color);
$primary: var(--primary_color);
$secondary: var(--secondary_color);
$divider: var(--divider_color);
$hover: rgba(0, 0, 0, 0.5);

$base: 0.5em;
$tr: 0.3s ease-out;

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($column: 1fr, $row: 1fr, $itemJustify: center, $itemAlign: center) {
  display: grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
  justify-items: $itemJustify;
  align-items: $itemAlign;
}

@mixin scroll-view($height) {
  width: 100%;
  height: $height;
  overflow-y: auto;
}

@function size($value) {
  @return $value * $base;
}
